#main {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 480px;
  height: 250px;
  margin: 10px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.1);
}

.project a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.project img {
  height: 100%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  padding: 15px 0;
}

h1 {
  text-align: center;
  margin: 40px auto;
}