@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --line-border-fill: #34bc9b;
  --line-border-empty: #c2c2c2;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url('https://images.unsplash.com/photo-1471286274405-579f8d7132d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');
  background-position: center bottom;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  border-radius: 5px;
  padding: 30px 50px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY((-50%));
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY((-50%));
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.2s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  padding: 8px 30px;
  background-color: var(--line-border-fill);
  border-radius: 6px;
  color: #fff;
  border: none;
  margin: 5px;
  font-family: inherit;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
